.movieDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 18px 18px 18px;
  width: 100%;
  gap: 20px;
}

/* Header */

.movieDetailsHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.idBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
}

.idBlock:hover {
  background: rgba(66, 139, 249, 0.2);
}

.copyButtonImage {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.editBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
}

.editBlock:hover {
  background: rgba(66, 139, 249, 0.2);
}

.editButtonImage {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

/* Main */

.movieDetailsMain {
  display: flex;
  flex-direction: row;
}

.imageWrapper {
  padding-right: 20px;
}

.movieDetailsInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
  margin-bottom: 6px;
}

.author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #6c6c6c;
  margin-bottom: 18px;
}

/* Params And Roles */

.paramsAndRolesWrapper {
  display: flex;
  flex-direction: row;
  width: max-content;
}

/* Params block */

.params {
  min-width: 200px;
}

.paramTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  width: 100%;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}

.paramRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.paramKey {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #6c6c6c;
}

.paramValue {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

/* Roles */

.roles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.roleTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  margin-bottom: 20px;
}

.role {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  margin-bottom: 10px;
}

/* Description */

.descriptionSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descriptionTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  margin-bottom: 25px;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: start;
  color: #000000;
}

/* Rate Section */

.rateSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rateTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  width: 200px;
  text-align: left;
}

.rateValue {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #6c6c6c;
}
