.input {
    width: 80%;
    border: 0px;
    outline: none;
    border-radius: 8px;
    margin-top: 17px;
    margin-bottom: 15px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 9px 7px 8px 7px;
    background: #ECF1F7;
}