/* Form */

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  padding: 15px 15px 15px 15px;
}

/* Title */

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/* Label */

.label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

/* Input */

.input {
  width: 325px;
  height: 44px;

  background: #ecf1f7;
  border-radius: 8px;
  border: 0px;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 40px;
}

.cancelButton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #336fee;

  width: 84px;
  height: 32px;
  background: #ecf1f7;
  border-radius: 8px;
  border: 0px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.saveButton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  width: 85px;
  height: 32px;

  background: #ffdd2d;
  border-radius: 8px;
  border: 0px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
